.parallax {
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Video Parallax Section*/
.ParallaxVideo {
    height: 800px;
    width: auto;
  }
  
  .ParallaxVideo video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .center {
    display:table-cell; 
    vertical-align:middle; 
    width: 100%;
    height: 100%;
  }