<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TITULO</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <script src='main.js'></script>
</head>
<body>  
<!-- Container element -->
<div class="ParallaxVideo">
    <video autoplay muted loop>
      <source
        src="bugattiv16vid.mp4"
        type="video/mp4"
      />
    </video>
  </div>
</div>

<div class="centerText">
  NUESTRO CATALOGO
</div>
<div class="parallax" style="background-image:url(chiron.jpg)"></div>
<div class="container">
  <div class="textvertLeft">
      <img src="bugattilogo.png" style="height:100px;">
      <!-- <h2 class="brandTitle">BUGATTI </h2> -->
      <p class="quotes">"IF COMPARABLE, IT IS NO LONGER BUGATTI"</p>
   </div>     
   <div class="textvertRight">
      <div class="row">
         <div class="column">polla</div>
         <div class="column">polla</div>
         <div class="column">polla</div>
         <div class="column">polla</div>
         <div class="column">polla</div>
      </div>
   </div>
</div>

<div class="parallax" style="background-image:url(pagani.jpg)"></div>

<div class="container">
    <div class="textvertLeft">
         <img src="paganilogo.png" style="height:50px;">
         <!-- <h2 class="brandTitle">PAGANI </h2> -->
         <p class="quotes">"THE CAR ATELIER SURPASSES TIME, LIKE AND UNRELENTING WIND"</p>
     </div>     
     <div class="textvertRight">
        #right content in there2
     </div>
</div>

<div class="parallax" style="background-image:url(lambo.jpg)"></div>

<div class="container">
   <div class="textvertLeft">
      <img src="lambologo.png" style="height:200px;">

      <!-- <h2 class="brandTitle">LAMBORGHINI </h2> -->
      <p class="quotes">"EXPECT THE UNEXPECTED"</p>
   </div>   
   <div class="textvertRight">
      #right content in there3
   </div>
</div>

</body>
</html>